/*defining styles using style class*/
.demo{
    background-color: chartreuse;
    width: 100%;
    height: 200px;

}
/*using id*/
#p1{
    color: rgb(0, 139, 97);
}
/*element base*/
h1{
    color: darkorchid;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: darkred;
}